*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;/*tipo de texto*/
    font-size: 15px;
}
h1,h2{
    color: rgb(5, 5, 238); /*color del texto*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;/*tipo de texto*/
    margin-bottom: 20px;
}
.contenedor{
    width: 80%;
    margin: auto;
    padding-top: 20px;
    position: relative;
}
.categoria{
    position: absolute;
    top: 50px;
    right: 350px;
    color: blueviolet;
}

.ventana-izquierda{
   padding-right: 20px;
    width: 75%;
    display:inline-block;
}
.ventana-derecha{

    width: 24%;
    float: right;
    margin-top: 50px;
}
.otro-blog{
    margin: 50px 0px;
    color: blue;
    text-align: justify;
    width: 80%;
}
.autor-div{

    border-top: 1px solid black;
    padding-top: 20px;
    
}
.autor-div img{
    width: 100px;
    border-radius: 50%;
    margin-left: 30px;
}
img{
    width: 200px;
}
h1{
    font-size: 45px; /*tamaño del texto*/
    
    
}
h2{
    font-size: 20px; /*tamaño del texto*/

}

.autor{
    color: green;
    font-size: 22px;

}
.parrafo-justificado{
    text-align: justify;
    margin-bottom: 20px;
}